// text color
$text-primary-color: #000000;
$text-secondary-color: #ffffff;
$text-three-color: #717171;
$text-description-color: #acaaaa;
$text-second-description-color: #8c8c8c;


//background-color
$background-primary-color: #000000;
$background-secondary-color: #ffffff;
$background-three-color: #f7f6f6;
$background-four-color: #f0efee;


//border-color
$border-primary-color: #e7e7e7;
$border-secondary-color: #afafaf;

//shadow
$shadow-primary: 0px 1px 1px 0px rgba(0,0,0,0.15);
$shadow-primary-inner: inset 0px 1px 5px 0px rgba(0,0,0,0.15);


//screen
$tablet: 768px;
$desktop: 992px;

//screen add brace
$big-mobile: 550px;