.login-block {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__img {
    margin-right: 20px;
    border-radius: 50%;
  }
  &__user-name {
    &--secondary {
      margin-left: 10px
    }
  }
}

@media (max-width: $tablet) {
  .login-block {
    &__user-name {
      display: none;
    }
    &__img {
      margin-right: 0;
    }
  }
}