.navigation {
  background: $background-secondary-color;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
  }

  &__search {
    width: 100%;
    max-width: 500px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: $tablet) {
  .navigation {

    &__wrapper {
      flex-wrap: wrap;
    }

    &__search {
      order: 1;
      max-width: 100%;
      margin-right: 0;
      margin-left: 0;
    }
  }
}
